{% extends "user_dashboard.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <div class="container">
        <h1>User Profile</h1>
        <p>Welcome, {{ user.username }}!</p>
        <p>Email: {{ user.email }}</p>
        <p>Joined on: {{ user.date_joined }}</p>
        <p>Last login: {{ user.last_login }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Location</th>
                    <th>Vehicle No</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.location }}</td>
                    <td>{{ user.vehicle_no }}</td>
                    <td>{{ user.status }}</td>
                
                </tr>
            </tbody>
       
        </table>
    </div>
{% endblock %}